<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chocolate</title>
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="iapple-touch-iconcon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <!-- Template Main CSS File -->

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                <span>Proyek 3.3</span>
            </a>
            <!-- Uri segment <a href="<?php echo site_url('patient/listpatient'); ?>" class="<?php if ($this->uri->uri_string() == 'patient/listpatient') {
                                                                                                    echo 'active';
                                                                                                } ?>"><i class="glyphicon glyphicon-list-alt fa-lg"></i> List Patients</a> -->
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Beranda</a></li>

                    <li><a class="nav-link scrollto active" href="{{ url_for('ensiklopedia') }}">Ensiklopedia Kematangan Coklat</a></li>

                    <li><a class="av-link scrollto active" href="{{ url_for('predict') }}">Cek Kematangan</a></li>

                    <li><a class="nav-link scrollto active" href="{{ url_for('about') }}">Kelompok Kami</a></li>

                    <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->